<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block user_panel %}
            <div>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    Logged in, {{ app.user.username }} <a href="{{ path('fos_user_security_logout') }}">logout</a>
                {% else %}
                    <a href="{{ path('fos_user_security_login') }}">login</a>
                    <a href="{{ path('fos_user_registration_register') }}">register</a>
                {% endif %}
            </div>
        {% endblock %}
        <div>
            {% block actions_panel %}
                {% if is_granted('post.list') %}
                    <a href="{{ path('home') }}">
                        Home
                    </a>
                {% endif %}
            {% endblock %}
        </div>
        <div>
            {% block content %}
            {% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
