{% extends 'base.html.twig' %}

{% block actions_panel %}
    {{ parent() }}
    {% if is_granted('post.create') %}
        <a href="{{ path('post_create') }}">
            Create
        </a>
    {% endif %}
{% endblock %}

{% block content %}
    {% if posts is empty %}
        <p> There are no posts to display</p>
    {% else %}
        <table>
            <tr>
                <th>Title</th>
                <th>Body</th>
                <th>Author</th>
                <th>Status</th>
                <th>Published</th>
                <th>Actions</th>
            </tr>
            {% for post in posts %}
                <tr>
                    <th>{{ post.title }}</th>
                    <th>{{ post.body }}</th>
                    <th>{{ post.author.username }}</th>
                    <th>{{ post.statusLabel }}</th>
                    <th>{{ post.published|date('Y-m-d H:i') }}</th>
                    <th>
                        {% if is_granted('post.view', post) %}
                            <a href="{{ path('post_view', {id: post.id}) }}">
                                View
                            </a>
                        {% endif %}
                        {% if is_granted('post.edit', post) %}
                            <a href="{{ path('post_edit', {id: post.id}) }}">
                                Edit
                            </a>
                        {% endif %}
                    </th>
                </tr>
            {% endfor %}
        </table>
    {% endif %}
{% endblock %}